.modal-wr{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal{
  background: white;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
}

.hidden{
  display: none;
}

.hidden-button-submit{
  display: none;
}

.hidden-button-change{
  display: none;
}

.hidden-button-delete{
  display: none;
}